* {
    box-sizing: border-box;
    padding: 0;
} 

/* class selector preceded by . 
id selector preceded by # */


body {
    background-color:#dae3f1;
    margin: 0;
}

header {
    background-color:#315181;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

/*flex help for header from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

header h1 {
    display: inline-flex;
    background-color: darkgray;
    margin: 10px 0;
    padding: 10px 10px 10px 60px;
}


header nav {
    display: inline-flex;
    flex-wrap: nowrap;
}

header nav ul li {
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-end;
}

header nav ul li a {
    margin: 10px 20px 10px 20px;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    height:250px;
    background-image: url(images/herobg.jpg);
    background-size: 100% 100%;
}

/*
#hero {
    height: 250px;
    background-image:url(images/herobg.jpg);
    height: 200px;
    width: 100%;
}







/*Start of info formatting*/
.info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.left {
    display:inline-flex;
    float: left;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.right {
    display: inline-flex;
    float: left;
    flex-direction: column;
    width: 75%;
    border-left: 3px solid #315181;
    padding: 20px;
}

.info h1 {
    text-align: center;
}

.right nav ul li {
    display: inline-flex;
    margin: 10px 20px 10px 0px;
}












/*
.right nav ul li {
    display: inline-flex;
    margin: 10px 20px 10px 20px;
}

.content {
    margin: 20px;
    display: flex;
}

.content h1 {
    margin: 20px;
}

.content nav ul li {
    display: inline-flex;
    margin: 10px 20px 10px 20px;
}
*/