* {
    box-sizing: border-box;
    padding: 0;
} 

/* class selector preceded by . 
id selector preceded by # */


body {
    background-color:#dae3f1;
    margin: 0;
}

header {
    background-color:#315181;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
}

/*flex help for header from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

header h1 {
    display: inline-flex;
    background-color: darkgray;
    margin: 10px 0;
    padding: 10px 10px 10px 60px;
}

header nav {
    display:inline-flex;
}

header nav ul li {
    list-style: none;
    display:inline-flex;
}

header nav ul li a {
    margin: 10px 20px 10px 20px;
    font-weight: bolder;
    font-size: 20px;
}

/*
header nav {
    display: inline-flex;
    flex-wrap: wrap;
}

header nav ul li {
    display: inline-flex;
    font-weight: bolder;
    font-size: 20px;
    justify-content: flex-end;
}


*/

a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid black;
}

.hero {
    height:250px;
    background-image: url(images/herobg.jpg);
    background-size: 100% 100%;
}

/*
#hero {
    height: 250px;
    background-image:url(images/herobg.jpg);
    height: 200px;
    width: 100%;
}







/*Start of info formatting*/
.info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#about, #work, #contact {
    padding: 10px 0;
}

.left {
    display:inline-flex;
    float: left;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0 20px;
    justify-content:flex-end;
}

.right {
    display: inline-flex;
    float: left;
    flex-direction: column;
    width: 80%;
    border-left: 3px solid #315181;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right nav {
    display: inline-flex;
    justify-content: space-between;
}

.right nav ul li {
    display: inline-flex;
    margin: 0 20px 0 0px;
    font-weight: bolder;
    font-size: 20px;
}


/* works */

#projects {
    display:flex;
    flex-wrap: wrap-reverse;
    
}

.projects {
    height: 300px;
    width: 50%;
    background-size: 100% 100%;
    
}

#new {
    height: 600px;
    width: 100%;    
}


/* project images*/
#p1 {
    background-image:url(images/plants.jpg)
}

#p2 {
    background-image: url(images/pexels-steve.jpg);
}

#p3 {
    background-image: url(images/pexels-miguel.jpg);
}

#p4 {
    background-image: url(images/pexels-elina.jpg);
}

#new{
    background-image: url(images/pexels-simon.jpg);
}


/*.hero {
    height:250px;
    background-image: url(images/herobg.jpg);
    background-size: 100% 100%;
}*/




/*
.right nav ul li {
    display: inline-flex;
    margin: 10px 20px 10px 20px;
}

.content {
    margin: 20px;
    display: flex;
}

.content h1 {
    margin: 20px;
}

.content nav ul li {
    display: inline-flex;
    margin: 10px 20px 10px 20px;
}
*/